NET "led[6]" LOC = "T17";
NET "led[5]" LOC = "T18";
NET "led[4]" LOC = "U17";
NET "led[3]" LOC = "U18";
NET "led[2]" LOC = "M14";
NET "led[1]" LOC = "N14";
NET "led[0]" LOC = "L14";

NET "an[3]"  LOC = "P17";
NET "an[2]"  LOC = "P18";
NET "an[1]"  LOC = "N15";
NET "an[0]"  LOC = "N16";

NET "sw[5]"  LOC = "T5";
NET "sw[4]"  LOC = "V8";
NET "sw[3]"  LOC = "U8";
NET "sw[2]"  LOC = "N8";
NET "sw[1]"  LOC = "M8";
NET "sw[1]"  LOC = "M8";
NET "sw[0]"  LOC = "V9";
NET "reset"   LOC = "T10";
NET "enable"  LOC = "T9";

NET "start"   LOC = "B8";
NET "CLK"  LOC = "V10";


